<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.velysound.mapper.SheetMapper">

	<!-- 악보 목록 조회 -->
	<select id="getList" parameterType="moMap" resultType="moMap">
		/* 악보 목록 조회 : SheetMapper.getList */
		<include refid="kr.co.velysound.mapper.SheetMapper.sqlGetListSheet"/>
	</select>

	<!-- 악보 상세 조회 -->
	<select id="getOneSheet" parameterType="moMap" resultType="moMap">
		/* 악보 상세 조회 : SheetMapper.getOneSheet */
		SELECT T1.*
			 , T2.VIDEO_LINK
			 , T2.VIDEO_THUMB_PATH
		FROM SHEET T1
			     LEFT JOIN VIDEO T2 ON T1.VIDEO_ID = T2.VIDEO_ID AND T2.DELETE_YN = 'N'
		WHERE T1.DELETE_YN = 'N'
		  AND T1.SHEET_ID = #{sheetId}
	</select>

	<!-- 악보 상세 이미지 조회 -->
	<select id="getListSheetImage" parameterType="moMap" resultType="moMap">
		/* 악보 상세 이미지 조회 : SheetMapper.getListSheetImage */
		SELECT T1.*
		FROM SHEET_IMAGE T1
		WHERE T1.DELETE_YN = 'N'
		  AND T1.SHEET_ID = #{sheetId}
	</select>

	<!-- 연관 악보 조회 -->
	<select id="getListSheetRecommend" parameterType="moMap" resultType="moMap">
		/* 연관 악보 조회 : SheetMapper.getListSheetRecommend */
		<include refid="kr.co.velysound.mapper.SheetMapper.sqlGetListSheet"/>
		ORDER BY RAND()
		LIMIT 10
	</select>

	<sql id="sqlGetListSheet">
		SELECT
		T1.*
		, T2.IMAGE_PATH
		FROM SHEET T1
		LEFT JOIN SHEET_IMAGE T2 ON T1.SHEET_ID = T2.SHEET_ID AND T2.IMAGE_MAIN = 'Y'
		WHERE T1.DELETE_YN = 'N'
		AND T2.IMAGE_PATH IS NOT NULL
		<if test='categoryCode != null and categoryCode != ""'>
			AND T1.CATEGORY_CODE = #{categoryCode}
		</if>
		<if test='displayType != null and displayType != ""'>
			AND T1.DISPLAY_TYPE LIKE CONCAT('%',#{displayType},'%')
		</if>
		<if test='sheetIds != null and sheetIds != ""'>
			<foreach collection="sheetIds" item="id" open="AND T1.SHEET_ID IN (" close=")" separator=",">#{id}</foreach>
		</if>
	</sql>
</mapper>