@charset "utf-8";
/*
    Contents.css
*/



/**** Form Common Style ****/
/** input **/
.input_ty {width:100%;height:45px;padding:0 20px;background:#fff;border:1px solid #d7d7d7;box-sizing:border-box;color:#222;font-family:'Noto Sans KR';font-size:16px;font-weight:400;vertical-align:top;transition:background 0.3s, border 0.3s;}
.input_ty.center {text-align:center;}
.input_ty:focus {outline-style:none;border-color:#5e60cb;}
.input_ty:disabled {background:#f5f5f5;border-color:#d7d7d7;}
.input_ty:read-only {background:#f5f5f5;border-color:#d7d7d7;}
::-webkit-input-placeholder {color:#aaa;}
::-moz-placeholder {color:#aaa;}
:-ms-input-placeholder {color:#aaa;}
::placeholder {color:#aaa;}

/* checkbox / radio */
input[type="checkbox"],
input[type="radio"] {position:absolute;left:-9999px;width:0;height:0;border:0;overflow:hidden;}
input[type="checkbox"] + label,
input[type="radio"] + label {display:inline-block;position:relative;padding-left:30px;vertical-align:top;cursor:pointer;}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {position:absolute;left:0;top:3px;width:20px;height:20px;background:#fff;border:1px solid #d7d7d7;box-sizing:border-box;content:"";transition:background-color 0.3s, border 0.3s;}
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {background:#5e61cc url("../images/layout/ico_chk.png") center/100% no-repeat;border-color:#5e61cc;}


/** select **/
.select_ty {width:100%;height:45px;padding:0 55px 0 20px;background:#fff url(../images/layout/ico_select_ty.png) right center /44px 43px no-repeat;border:1px solid #d7d7d7;box-sizing:border-box;color:#aaa;font-family:'Noto Sans KR';font-size:16px;font-weight:400;vertical-align:top;transition:background 0.3s, border 0.3s;appearance:none;-moz-appearance:none;}
.select_ty:focus {outline-style:none;border-color:#5e60cb;color:#222;}
.select_ty::-ms-expand {display:none;}
.select_ty:disabled {background-color:#f5f5f5;border-color:#d7d7d7;}


/** textarea **/
textarea {width:100%;height:230px;padding:15px 20px;background:#fff;border:1px solid #d7d7d7;box-sizing:border-box;color:#222;font-family:'Noto Sans KR';font-size:16px;font-weight:400;vertical-align:top;transition:background 0.3s, border 0.3s;}
textarea:focus {outline-style:none;border-color:#5e60cb;}


/* Tablet Ver. */
@media all and (max-width:1300px){
	/*** Form Common Style ***/
	/* checkbox / radio */
	input[type="checkbox"] + label,
	input[type="radio"] + label {padding-left:28px;}
	input[type="checkbox"] + label:before,
	input[type="radio"] + label:before {top:2px;}
}


/* Mobile Ver. */
@media all and (max-width:800px){
	.t_br {display:inline;}

	/*** Form Common Style ***/
	/** input **/
	.input_ty,
	.select_ty {height:40px;padding:0 15px;font-size:14px;}

	/* checkbox / radio */
	input[type="checkbox"] + label,
	input[type="radio"] + label {padding-left:25px;}
	input[type="checkbox"] + label:before,
	input[type="radio"] + label:before {top:1px;}

	/** select **/
	.select_ty {padding:0 55px 0 15px;background:#fff url(../images/layout/ico_select_ty.png) right center /39px 38px no-repeat;}


	/** textarea **/
	textarea {padding:10px 15px;font-size:14px;}
}










/**** Template ****/
/*** Tab ***/
/* tab_ty */
.tab_ty {display:table;table-layout:fixed;position:relative;width:100%;margin-bottom:50px;}
.tab_ty a {display:table-cell;position:relative;height:52px;padding:0 5px;background:#fff;border:solid #d7d7d7;border-width:1px 1px 1px 0;box-sizing:border-box;color:#6e6e6e;text-align:center;vertical-align:middle;transition:all 0.4s;}
.tab_ty a:first-child {border-width:1px;}
.tab_ty a:hover, .tab_ty a:focus {background:#f7f7f7;color:#222;}
.tab_ty a.on {background:#f8f8fd;border:1px solid #5e60cb;color:#5e60cb;font-weight:500;z-index:1;}
.tab_ty a.on:hover, .tab_ty a.on:focus {background:#efeffb;border-color:#4547c3;color:#4547c3;}

/* tab_ty02 */
.tab_ty02 {display:table;table-layout:fixed;position:relative;width:100%;margin-bottom:30px;}
.tab_ty02 a {display:table-cell;position:relative;height:52px;padding:0 5px;background:#f5f5f5;border:solid #d7d7d7;border-width:1px 1px 0 0;border-bottom:1px solid #222;box-sizing:border-box;color:#6e6e6e;font-size:16px;text-align:center;vertical-align:middle;transition:all 0.4s;}
.tab_ty02 a:first-child {border-width:1px;}
.tab_ty02 a:hover, .tab_ty02 a:focus {background:#eee;color:#222;}
.tab_ty02 a.on {background:#fff;border:1px solid #222;border-bottom:1px solid #fff;color:#222;font-weight:500;z-index:1;}
.tab_ty02 a.on:hover, .tab_ty02 a.on:focus {color:#000;}


/* Tablet Ver. */
@media all and (max-width:1300px){
	/* tab_ty */
	.tab_ty {margin-bottom:40px;}
	.tab_ty a {height:47px;}

}

/* Mobile Ver. */
@media all and (max-width:800px){
	/* tab_ty */
	.tab_ty {display:block;margin-bottom:25px;}
	.tab_ty:after {display:block;clear:both;height:0;content:"";overflow:hidden;}
	.tab_ty a {display:block;float:left;width:50%;height:42px;margin:-1px -1px 0 0;border-width:1px;box-sizing:border-box;line-height:42px;}

	/* tab_ty02 */
	.tab_ty02 {margin-bottom:20px;}
	.tab_ty02 a {font-size:14px;}
}



/*** Table ***/
/* table_ty */
.table_ty {border-top:2px solid #222;}
.table_ty table {width:100%;}
.table_ty th, .table_ty td {height:30px;padding:10px 30px;border-bottom:1px solid #d7d7d7;vertical-align:middle;word-wrap:break-word;word-break:break-all;}
.table_ty thead th {background:#f5f5f5;color:#222;font-weight:500;}
.table_ty tbody th {width:225px;padding:10px 35px;background:#fbfbfb;border-right:1px solid #d7d7d7;font-weight:500;}
.table_ty tbody td {color:#6e6e6e;overflow:hidden;}
.table_ty .left {text-align:left;}
.table_ty .right {text-align:right;}
.table_ty .link {display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;transition:all 0.4s;}
.table_ty .link:hover, .table_ty .link:focus {color:#5e60cb;}
.table_ty .bl {padding-left:16px;}

.table_ty.list td {height:45px;}
.table_ty.emp {padding:150px 10px;border-bottom:1px solid #d7d7d7;text-align:center;}
.list_emp {padding:100px 10px 150px 10px;border-bottom:1px solid #d7d7d7;text-align:center;}



/* Tablet Ver. */
@media all and (max-width:1300px){
	/* table_ty */
	.table_ty th, .table_ty td {padding:10px;}
	.table_ty tbody th {width:190px;padding:10px 25px;}
	.table_ty tbody td {padding:10px 20px;}
	.table_ty .bl {padding-left:6px;}
	.table_ty.emp {padding:100px 10px;}
	.list_emp {padding:60px 10px 100px 10px;}

}

/* Mobile Ver. */
@media all and (max-width:800px){
	/* table_ty */
	.table_ty th, .table_ty td {padding:5px;}
	.table_ty tbody th {width:85px;padding:5px 15px;}
	.table_ty tbody td {padding:5px 15px;}
	.table_ty.emp {padding:50px 10px;}
	.list_emp {padding:25px 10px 50px 10px;}
}



/*** Accordian_ty ***/
.accordian_ty {position:relative;border-bottom:1px solid #d7d7d7;}
.accordian_ty .list {position:relative;border-top:1px solid #d7d7d7;overflow:hidden;transition:all 0.4s;}
.accordian_ty .list .btn {display:block;position:relative;padding:30px 80px 30px 30px;background:#fff;box-sizing:border-box;overflow:hidden;}
.accordian_ty .list .btn:after {position:absolute;right:30px;top:50%;width:21px;height:12px;margin-top:-6px;background:url("../images/layout/ico_accordian.png") center/ 100% no-repeat;content:"";transform:rotate(180deg);transition:all 0.4s;}
.accordian_ty .list .view {display:none;position:relative;padding:30px;background:#f5f5f5;border-top:1px solid #d7d7d7;box-sizing:border-box;color:#6e6e6e;font-size:15px;overflow:hidden;animation:fade both 0.6s;}
.accordian_ty .list.on .view {display:block;}
.accordian_ty .list.on .btn:after {transform:rotate(0);}
.accordian_ty .list.off {display:none;animation:fade both 0.6s;}



/* Tablet Ver. */
@media all and (max-width:1300px){
	.accordian_ty .list .btn {padding:20px 70px 20px 20px;}
	.accordian_ty .list .btn:after {right:20px;width:18px;height:10px;margin-top:-5px;}
}



/* Mobile Ver. */
@media all and (max-width:800px){
	.accordian_ty .list .btn {padding:20px 50px 20px 15px;}
	.accordian_ty .list .btn:after {right:15px;width:14px;height:8px;margin-top:-4px;}
}










/*** bul_list ***/
.bul_list li {position:relative;margin-top:10px;padding-left:11px;}
.bul_list li:first-child {margin-top:0;}
.bul_list li:before {display:block;position:absolute;left:0;top:9px;width:3px;height:3px;border-radius:50%;background-color:#999;content:"";}


/* Tablet Ver. */
@media all and (max-width:1300px){
	/* bul_list */
	.bul_list li {margin-top:5px;}
	.bul_list li:before {top:8px;}
}











/*** Btn ***/
/** Btn_Area **/
.btn_area {position:relative;margin-top:50px;font-size:0;text-align:center;}
.btn_area a {margin:0 10px;}
.btn_area .left {float:left;}
.btn_area .left a {margin:0 20px 0 0;}
.btn_area .right {float:right;}
.btn_area .right a {margin:0 0 0 20px;}
.btn_area:after {display:block;clear:both;height:0;content:"";overflow:hidden;}
.cont .btn_area {margin-top:50px;}
.btn_area.mt {margin-top:-50px;}

/* btn_more_view_box */
.btn_more_view_box {display:inline-block;vertical-align:top;background:#fff;transition:background 0.4s;}
.btn_more_view_box:hover {background-color:#f4f4f4;}
.btn_more_view_box strong {display:inline-block;position:relative;height:44px;padding:0 22px;border:1px solid #ccc;border-radius:6px;box-sizing:border-box;color:#000;font-size:14px;font-weight:500;line-height:44px;}
.btn_more_view_box em {display:inline-block;position:relative;width:11px;height:11px;margin-left:5px;padding-right:0;}
.btn_more_view_box em:before {position:absolute;right:4px;top:1px;width:2px;height:10px;margin-top:0;background:#000;content:"";}
.btn_more_view_box em:after {position:absolute;right:0;top:5px;width:10px;height:2px;margin-top:0;background:#000;content:"";}

/* Btn Size */
.btn_s {display:inline-block;min-width:155px;height:45px;padding:0 10px;box-sizing:border-box;line-height:43px;text-align:center;}
.btn_m {display:inline-block;min-width:170px;height:55px;padding:0 10px;box-sizing:border-box;font-size:17px;line-height:53px;text-align:center;}
.btn_b {display:inline-block;min-width:200px;height:60px;padding:0 10px;box-sizing:border-box;font-size:18px;line-height:58px;text-align:center;}

/* Btn Color */
.btn_ty {background:#5e60cb;border:1px solid #5e60cb;color:#fff;transition:all 0.4s;}
.btn_ty:hover, .btn_ty:focus {background:#4547c3;border-color:#4547c3;}
.btn_ty02 {background:#ff5858;border:1px solid #ff5858;color:#fff;transition:all 0.4s;}
.btn_ty02:hover, .btn_ty02:focus {background:#ec3131;border-color:#ec3131;}
.btn_ty03 {background:#898989;border:1px solid #898989;color:#fff;transition:all 0.4s;}
.btn_ty03:hover, .btn_ty03:focus {background:#606060;border-color:#696969;}
.btn_ty04 {background:#474747;border:1px solid #474747;color:#fff;transition:all 0.4s;}
.btn_ty04:hover, .btn_ty04:focus {background:#222;border-color:#222;}

/* line ver */
.btn_ty.line {background:#fff;color:#5e60cb;}
.btn_ty.line:hover, .btn_ty.line:focus {background:#f8f8fd;color:#4547c3;}
.btn_ty02.line {background:#fff;color:#ff5858;}
.btn_ty02.line:hover, .btn_ty02.line:focus {background:#fbf5f5;color:#ec3131;}
.btn_ty03.line {background:#fff;color:#898989;}
.btn_ty03.line:hover, .btn_ty03.line:focus {background:#f7f7f7;color:#696969;}



/* Tablet Ver. */
@media all and (max-width:1300px){
	/* Btn Size */
	.btn_b {min-width:180px;height:55px;font-size:16px;line-height:53px;}
	.btn_m {min-width:150px;height:45px;font-size:15px;line-height:43px;}
	.btn_s {min-width:120px;height:40px;padding:0 5px;line-height:38px;}
}



/* Mobile Ver. */
@media all and (max-width:800px){
	/* btn_area */
	.btn_area {position:relative;margin:40px -5px 0 -5px;font-size:0;text-align:center;}
	.btn_area a {margin:0 5px;}
	.btn_area .left a {margin:0 5px;}
	.btn_area .right a {margin:0 5px;}

	/* Btn Size */
	.btn_b {min-width:120px;height:50px;font-size:14px;line-height:48px;}
	.btn_m {min-width:100px;height:40px;font-size:14px;line-height:38px;}
	.btn_s {min-width:80px;height:34px;line-height:32px;}
}










/**** Contents ****/
/*** video_list ***/
.video_list {display:flex;position:relative;flex-wrap:wrap;text-align:left;margin:-40px -20px 0 -20px;}
.video_list li {width:calc(50% - 40px);margin:40px 20px 0 20px;}
.video_item {position:relative;margin-top:12px;padding-top:56.25%;overflow:hidden;}
.video_item .evt_video {position:absolute;left:0;top:0;width:100%;height:100%;}
.video_img {position:absolute;left:0;top:0;width:100%;height:100%;}
.video_img img {width:100%;height:100%;object-fit:cover;}
.video_link {position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.4) url("../images/layout/btn_video_play.svg") center/70px no-repeat;}
.video_item.chk .video_img,
.video_item.chk .video_link {display:none;}

/* btn_sns */
.btn_sns {text-align:right;font-size:0;margin-top:10px}
.btn_sns .btn_sns_share {display:inline-block;width:31px;height:31px;margin-right:5px;background:center/31px no-repeat;box-sizing:border-box;font-size:0;overflow:hidden;}
.btn_sns .ht_kakao {background-image:url("../images/layout/sns_kakao.svg");}
.btn_sns .ht_instar {background-image:url("../images/layout/sns_instar.svg");}
.btn_sns .ht_facebook {background-image:url("../images/layout/sns_facebook.svg");}
.btn_sns .ht_twitter {background-image:url("../images/layout/sns_twitter.svg");}
.btn_sns .ht_pinterest {background-image:url("../images/layout/sns_pinterest.svg");}
.btn_sns .ht_line {background-image:url("../images/layout/sns_line.svg");}
.btn_sns .ht_message {background-image:url("../images/layout//sns_message.svg");}

.btn_sns .bt {display:inline-block;position:relative;margin-left:5px;padding-left:15px;font-size:13px;}
.btn_sns .bt:before {position:absolute;left:0;top:7px;width:1px;height:17px;background:#000;content:"";opacity:0.3;}
.btn_sns .btn_box {display:block;margin-top:-1px;padding:5px 10px 3px 10px;border:1px solid #999;border-radius:4px;box-sizing:border-box;color:#666;font-size:13px;text-align:center;transition:all 0.4s;}
.btn_sns .btn_box:hover {border-color:#000;color:#000;}




/* Tablet Ver. */
@media all and (max-width:1300px){
	/** video_list **/
	.video_list {margin:-40px -15px 0 -15px;}
	.video_list li {width:calc(50% - 30px);margin:40px 15px 0 15px;}
	.video_link {background-size:60px;}
}

/* Mobile Ver. */
@media all and (max-width:800px){
	/** video_list **/
	.video_list {margin:-40px 0 0 0;}
	.video_list li {width:100%;margin:40px 0 0 0;}
	.video_link {background-size:50px;}
}










/*** thumb_list ***/
.thumb_list {position:relative;display:flex;margin:-40px -18px 0 -18px;flex-wrap:wrap;}
.thumb_list .li {position:relative;width:calc(25% - 36px);margin:40px 18px 0 18px;}
.thumb_list .img {position:relative;overflow:hidden;cursor:pointer;}
.thumb_list .img_a {position:relative;height:0;padding-top:100%;}
.thumb_list .img img {position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover;}
.thumb_list .img:hover .btn {opacity:1;}
.thumb_list .img .btn {position:absolute;left:0;bottom:0;width:100%;opacity:0;transition:opacity 0.4s;}
.thumb_list .img .btn a {float:left;width:50%;height:45px;background:rgba(0,0,0,0.7);color:#fff;text-align:center;line-height:45px;transition:background 0.4s;}
.thumb_list .img .btn a:hover {background:#000;}
.thumb_list .img .btn a:only-child {width:100%;}
.thumb_list .img .ico {position:absolute;right:0;top:0;padding:8px 10px;background:#5e60cb;color:#fff;font-size:13px;line-height:13px;}
.thumb_list .txt {margin-top:20px;font-size:16px;line-height:22px;text-align:center;}
.thumb_list .txt .s1 {display:-webkit-box;width:100%;font-weight:500;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.thumb_list .txt .s2 {width:100%;margin-top:8px;padding:0 38px;box-sizing:border-box;font-size:18px;line-height:24px;font-weight:700;}
.thumb_list .txt .btn {display:none;}

/* Type02 */
.thumb_list.ty02 .li {display:block;width:calc(50% - 36px);overflow:hidden;}
.thumb_list.ty02 .img {float:left;width:calc(40% - 18px);margin-right:18px;}
.thumb_list.ty02 .img .btn {display:none;}
.thumb_list.ty02 .txt {display:flex;flex-wrap:wrap;width:calc(60% - 18px);margin:0 0 0 18px;text-align:left;align-content:center;align-items:center; float:left;  }
.thumb_list.ty02 .txt .badge_line {width:100%;margin:20px -4px 0 -4px;}
.thumb_list.ty02 .txt .s2 {padding:0;}
.thumb_list.ty02 .txt .s3 {width:100%;}
.thumb_list.ty02 .txt .btn {display:block;width:100%;margin-top:20px;font-size:0;}
.thumb_list.ty02 .txt .btn a {display:inline-block;margin-right:10px;padding:6px 10px 5px 10px;border:1px solid #d7d7d7;border-radius:4px;box-sizing:border-box;color:#000;font-size:15px;text-align:center;transition:all 0.4s;}
.thumb_list.ty02 .txt .btn a:hover {border-color:#000;color:#000;}
.thumb_list.ty02 .txt .btn a span {display:inline-block;position:relative;padding-right:10px;}
.thumb_list.ty02 .txt .btn a span:after {position:absolute;right:0;top:50%;width:9px;height:9px;margin-top:-4px;border:solid #aaa;border-width:2px 2px 0 0;transform:rotate(45deg) scale(0.6);transform-origin:right center;content:"";}
.thumb_list.ty02 .badge_tog {display:block;position:static;}
.thumb_list.ty02 .badge_tog .btn_badge_tog {display:none;}
.thumb_list.ty02 .badge_tog .badge_line {display:block;position:static;width:100%;padding:0;border:0;}

/* thumb_list_wrap */
.thumb_list_wrap {position:relative;}
.thumb_list_wrap .swiper_control_bk .swiper-button-prev,
.thumb_list_wrap .swiper_control_bk .swiper-button-next {top:145px;margin-top:0;}
.thumb_list_wrap + .thumb_list_wrap {margin-top:80px;}

/* .thumb_list_cont */
.thumb_list_cont {display:block !important;margin:0 !important;overflow:hidden;}
.thumb_list_cont.swiper-initialized {margin:0;}
.thumb_list_cont.swiper-initialized .swiper-slide {width:100%;margin:0;}
.thumb_list_cont .swiper-slide {position:relative;;margin:0 36px 0 0;}
.thumb_list_cont .swiper-slide:last-of-type {margin-right:0;}

.swiper-button-next,
.swiper-button-prev {width:44px;height:44px;margin-top:-22px;background:rgba(0, 0, 0, 0.3) center/44px no-repeat;border-radius:50%;box-sizing:border-box;opacity:1;transition:opacity 0.23s;z-index:2;}
.swiper_control_bk .swiper-button-prev,
.swiper_control_bk .swiper-button-next {background-image:url("../images/layout/btn_banner_pagn_w.svg");}
.swiper-button-prev {left:-20px;transform:rotate(180deg);}
.swiper-button-next {right:-20px}
.swiper_control_bk {display:none;}
.swiper-on .swiper_control_bk {display:block;}

/* badge_line */
.badge_line {position:relative;margin-top:14px;font-size:0;}
.badge_line .badge {display:inline-block;height:25px;margin:4px;padding:0 10px;background-color:#f7f7f7;border-radius:13px;color:#292929;font-size:12px;font-weight:500;line-height:25px;vertical-align:top;overflow:hidden;}
.badge_line .badge.on {background-color:#fff0eb;color:#da2128;font-weight:700;}

/* badge_chk */
.badge_chk {position:relative;font-size:0;}
.badge_chk p {display:inline-block;position:relative;margin:4px;vertical-align:top;}
.badge_chk p input {position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;z-index:2;cursor:pointer;}
.badge_chk p label {display:block;height:25px;padding:0 10px;background-color:#f7f7f7;border:1px solid #999;border-radius:13px;box-sizing:border-box;color:#292929;font-size:12px;font-weight:500;line-height:25px;vertical-align:top;overflow:hidden;transition:all 0.4s;}
.badge_chk p label:before {display:none;}
.badge_chk p input:checked + label {background-color:#fff0eb;border-color:#da2128;color:#da2128;font-weight:500;}

/* badge_tog */
.badge_tog {position:absolute;right:0;bottom:-4px;z-index:2;}
.btn_badge_tog {position:absolute;right:0;bottom:0;height:25px;margin:4px;padding:0 7px;background-color:#f7f7f7;border:1px solid #999;border-radius:13px;color:#292929;font-size:12px;font-weight:500;line-height:25px;vertical-align:top;overflow:hidden;}
.badge_tog .badge_line {display:none;position:absolute;right:0;bottom:35px;width:97px;padding:7px;background:#fff;border:1px solid #d7d7d7;border-radius:4px;box-sizing:border-box;animation:fade both 0.4s;}
.badge_tog.on .badge_line {display:block;}
/*.thumb_list.ty02 .badge_tog .badge_line {width:140px;}*/


/* Tablet Ver. */
@media all and (max-width:1300px){
	/** thumb_list **/
	.thumb_list {margin:-40px -15px 0 -15px;}
	.thumb_list .li {width:calc(33.3% - 30px);margin:40px 15px 0 15px;}

	/* Type02 */
	.thumb_list.ty02 .li {width:100%;}
	.thumb_list.ty02 .img {width:calc(30% - 15px);margin-right:15px;}
	.thumb_list.ty02 .txt {width:calc(70% - 15px);margin:0 0 0 15px;}

	.thumb_list_wrap + .thumb_list_wrap {margin-top:60px;}
	.thumb_list_cont .swiper-slide {margin:0 30px 0 0;}

	.thumb_list_wrap .swiper_control_bk .swiper-button-prev,
	.thumb_list_wrap .swiper_control_bk .swiper-button-next {top:35%;}
	.swiper-button-next,
	.swiper-button-prev {width:38px;height:38px;margin-top:-18px;background-size:38px;}
	.swiper-button-prev {left:-18px;}
	.swiper-button-next {right:-18px}
}



/* Mobile Ver. */
@media all and (max-width:800px){
	/** thumb_list **/
	.thumb_list {margin:-40px -10px 0 -10px;}
	.thumb_list .li {width:calc(50% - 20px);margin:40px 10px 0 10px;}
	.thumb_list .img .btn {bottom:0;opacity:1;}
	.thumb_list .img .btn a {height:35px;line-height:35px;;}
	.thumb_list .img .ico {padding:6px 8px;font-size:12px;line-height:12px;}
	.thumb_list .txt {margin-top:15px;font-size:14px;line-height:20px;}
	.thumb_list .txt .s2 {font-size:16px;line-height:22px;}

	/* Type02 */
	.thumb_list.ty02 .img {width:calc(50% - 10px);margin-right:10px;}
	.thumb_list.ty02 .img .btn {display:block;}
	.thumb_list.ty02 .txt {width:calc(50% - 10px);margin:0 0 0 10px;}
	.thumb_list.ty02 .txt .badge_line {margin:10px -4px 0 -4px;}
	.thumb_list.ty02 .txt .btn {display:none;}

	.thumb_list_wrap + .thumb_list_wrap {margin-top:40px;}
	.thumb_list_cont .swiper-slide {margin:0 20px 0 0;}

	/*.swiper-on .swiper_control_bk {display:none;}*/
	.swiper-button-next,
	.swiper-button-prev {width:30px;height:30px;margin-top:calc(100% - 75px);background-size:30px;}
	.swiper-button-prev {left:-10px;}
	.swiper-button-next {right:-10px}
}











/*** reserve_list ***/
/* reserve_list */
.reserve_list {position:relative;}
.reserve_list .li {position:relative;margin-top:20px;background:#fbfbfb;border:1px solid #d7d7d7;box-sizing:border-box;overflow:hidden;}
.reserve_list .li:first-child {margin-top:0;}
.reserve_list .li .link {display:block;position:relative;width:calc(100% - 270px);padding:10px;box-sizing:border-box;}
.reserve_list .li .link:after {display:block;clear:both;height:0;content:"";overflow:hidden;}
.reserve_list .li .img {position:relative;float:left;width:222px;height:222px;margin-right:30px;background:#d7d7d7;border:1px solid #d7d7d7;box-sizing:border-box;overflow:hidden;}
.reserve_list .li .img p {width:222px;height:222px;}
.reserve_list .li .img img {width:100%;height:100%;object-fit:cover;}
.reserve_list .li .txt {display:table;position:relative;float:left;width:calc(100% - 282px);min-height:222px;}
.reserve_list .li .txt .inner {display:table-cell;vertical-align:middle;}
.reserve_list .li .txt .s2 {display:-webkit-box;width:100%;font-weight:500;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.reserve_list .li .txt .s3 {margin-top:5px;font-size:26px;font-weight:700;line-height:30px;}
.reserve_list .li .txt .s4 {margin-top:10px;color:#6e6e6e;font-weight:400;}
.reserve_list .li .txt .s4 li {position:relative;float:left;padding-left:21px;}
.reserve_list .li .txt .s4 li:before {position:absolute;left:10px;top:5px;width:1px;height:13px;background:#b9b9b9;content:"";}
.reserve_list .li .txt .s4 li:first-child {padding-left:0;}
.reserve_list .li .txt .s4 li:first-child:before {display:none;}
.reserve_list .li .txt .s4 ul:after {display:block;clear:both;height:0;content:"";overflow:hidden;}
.reserve_list .li .btn {display:table;position:absolute;right:0;top:0;width:270px;height:244px;border-left:1px dashed #d7d7d7;}
.reserve_list .li .btn .inner {display:table-cell;padding:0 30px;text-align:center;vertical-align:middle;}

/* btn_delete_s */
.btn_delete_s {position:absolute;right:15px;top:15px;width:30px;height:30px;background:url("../images/layout/btn_cancel_s.svg") center/100% no-repeat;text-indent:-9999px;overflow:hidden;transition:none;z-index:1;}
.btn_modify_s {position:absolute;right:45px;top:15px;width:30px;height:30px;background:url("../images/layout/btn_modify_s.svg") center/100% no-repeat;text-indent:-9999px;overflow:hidden;transition:none;z-index:1;}

.btn_confirm_box {display:none;position:absolute;right:15px;top:15px;z-index:2;animation:fade both 0.4s;}
.btn_confirm_box.on {display:block;}

.btn_cancel_s {position:absolute;right:0;top:0;width:30px;height:30px;background:#fbfbfb;text-indent:-9999px;overflow:hidden;transition:none;z-index:1;}
.btn_cancel_s em {display:block;position:absolute;left:50%;top:50%;width:18px;height:18px;margin:-9px 0 0 -9px;transform:rotate(45deg);}
.btn_cancel_s em:before {position:absolute;left:0;top:50%;width:18px;height:2px;margin-top:-1px;background:#000;content:"";}
.btn_cancel_s em:after {position:absolute;left:50%;top:0;width:2px;height:18px;margin-left:-1px;background:#000;content:"";}

.btn_confirm_s {position:absolute;right:30px;top:0;width:30px;height:30px;background:#fbfbfb;text-indent:-9999px;overflow:hidden;transition:none;z-index:1;}
.btn_confirm_s em {display:block;position:absolute;left:50%;top:50%;width:18px;height:18px;margin:-9px 0 0 -9px;border:2px solid #000;border-radius:50%;box-sizing:border-box;transform:rotate(45deg);}






/* order_under_info */
.order_under_info {position:relative;margin-top:50px;border-top:2px solid #999;}
.order_total_price {position:relative;display:flex;flex-wrap:wrap;width:100%;margin-top:20px;justify-content:space-between;}
.order_total_price .o_title {font-size:18px;font-weight:500;line-height:30px;}
.order_total_price .o_title .count {color:#5e60cb;}
.order_total_price .o_price {font-size:24px;font-weight:500;line-height:30px;}
.order_total_price .o_price .val {color:#5e60cb;font-size:30px;font-weight:700;line-height:30px;}

/* order_msg_box */
.order_msg_box {position:relative;margin-top:80px;padding:50px 40px;background:#f7f7f7;border:1px solid #d5d5d5;text-align:center;}
.order_msg_box .m_tit {margin:0 0 10px 0;}
.order_msg_box .b_txt {margin:0 0 30px 0;}
.order_msg_box .list {width:420px;margin:0 auto;overflow:hidden;}
.order_msg_box .list a {float:left;margin:5px;background:#fff;border:1px solid #d7d7d7;}




/* reserve_list02 */
.reserve_list02 {position:relative;}
.reserve_list02 .li {position:relative;margin-top:20px;background:#fbfbfb;border:1px solid #d7d7d7;box-sizing:border-box;overflow:hidden;}
.reserve_list02 .li:first-child {margin-top:0;}
.reserve_list02 .li .info {padding:20px 15px;font-weight:600;}
.reserve_list02 .li .info li {position:relative;float:left;padding-left:21px;}
.reserve_list02 .li .info li:before {position:absolute;left:10px;top:5px;width:1px;height:13px;background:#b9b9b9;content:"";}
.reserve_list02 .li .info li:first-child {padding-left:0;}
.reserve_list02 .li .info li:first-child:before {display:none;}
.reserve_list02 .li .info:after {display:block;clear:both;height:0;content:"";overflow:hidden;}
.reserve_list02 .li .li_s {padding:10px;border-top:1px dashed #d7d7d7;overflow:hidden;}
.reserve_list02 .li .img {position:relative;float:left;width:222px;height:222px;margin-right:30px;background:#d7d7d7;border:1px solid #d7d7d7;box-sizing:border-box;overflow:hidden;}
.reserve_list02 .li .img p {width:222px;height:222px;}
.reserve_list02 .li .img img {width:100%;height:100%;object-fit:cover;}
.reserve_list02 .li .txt {display:table;position:relative;float:left;width:calc(100% - 282px);min-height:222px;}
.reserve_list02 .li .txt .inner {display:table-cell;vertical-align:middle;}
.reserve_list02 .li .txt .s2 {display:-webkit-box;width:100%;font-weight:500;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.reserve_list02 .li .txt .s3 {margin-top:5px;font-size:26px;font-weight:700;line-height:30px;}
.reserve_list02 .li .txt .s4 {margin-top:10px;color:#6e6e6e;font-weight:400;}





/* Tablet Ver. */
@media all and (max-width:1300px){
	/* reserve_list */
	.reserve_list .li .link {width:calc(100% - 220px);}
	.reserve_list .li .btn {width:220px;height:244px;}
	.reserve_list .li .txt .s4 li:before {top:3px;}

	/* order_msg_box */
	.order_msg_box {margin-top:70px;padding:40px 30px;}
	.order_msg_box .list {width:380px;}
}



/* Mobile Ver. */
@media all and (max-width:900px){
	/* reserve_list */
	.reserve_list .li .link {width:100%;}
	.reserve_list .li .img {width:155px;height:155px;margin-right:15px;}
	.reserve_list .li .img p {width:155px;height:155px;}
	.reserve_list .li .txt {width:calc(100% - 170px);min-height:155px;}
	.reserve_list .li .txt .s2 {font-size:14px;line-height:20px;}
	.reserve_list .li .txt .s3 {margin-top:3px;font-size:17px;font-weight:700;line-height:22px;}
	.reserve_list .li .txt .s4 {margin-top:7px;font-size:12px;}
	.reserve_list .li .txt .s4 li {position:relative;float:none;margin-top:-2px;padding-left:0;}
	.reserve_list .li .txt .s4 li:first-child {margin-top:0;}
	.reserve_list .li .txt .s4 li:before {display:none;}
	.reserve_list .li .btn {display:block;position:static;width:100%;height:auto;padding:10px 5px;border:dashed #d7d7d7;border-width:1px 0 0 0;}
	.reserve_list .li .btn .inner {display:block;padding:0 15px;}
	.reserve_list .li .btn .inner:after {display:block;clear:both;height:0;content:"";overflow:hidden;}

	/* order_under_info */
	.order_total_price .o_title {font-size:14px;line-height:26px;}
	.order_total_price .o_price {font-size:20px;line-height:26px;}
	.order_total_price .o_price .val {font-size:26px;line-height:26px;}

	/* order_msg_box */
	.order_msg_box .m_tit {margin:0 0 5px 0;}
	.order_msg_box .b_txt {margin:0 0 20px 0;}
	.order_msg_box {margin-top:50px;padding:30px 20px;}


	/* reserve_list02 */
	.reserve_list02 .li .img {width:155px;height:155px;margin-right:15px;}
	.reserve_list02 .li .img p {width:155px;height:155px;}
	.reserve_list02 .li .txt {width:calc(100% - 170px);min-height:155px;}
	.reserve_list02 .li .txt .s2 {font-size:14px;line-height:20px;}
	.reserve_list02 .li .txt .s3 {margin-top:3px;font-size:17px;font-weight:700;line-height:22px;}
}



/* Mobile Ver. */
@media all and (max-width:800px){
	.order_msg_box .list {width:260px;}

}










/*** 제품상세 ***/
/** pro_gallery **/
.pro_gallery {position:relative;float:left;width:calc(50% - 20px);}
.pro_img_wrap .caroufredsel_wrapper {height:100% !important;}
.pro_img_wrap {position:relative;width:100%;height:0;padding-top:100%;margin-bottom:10px;border:1px solid #ddd;}
.pro_img_area {display:block;position:absolute;left:0;top:0;width:100%;height:100% !important;}
.pro_img_area li {position:relative;display:block;float:left;width:100%;height:100%;cursor:pointer}
.pro_img_area li img {width:100%;height:100%;object-fit:cover;}

.pro_gallery .pro_img_prev {position:absolute;left:-1px;bottom:0;width:20px;height:calc((50vw - 178px) / 6);max-height:80px;background:#fff;border:1px solid #ddd;text-indent:-9999px;overflow:hidden;}
.pro_gallery .pro_img_prev:after {position:absolute;right:0;top:50%;width:9px;height:9px;margin:-4px 4px 0 0;border:solid #aaa;border-width:0 0 2px 2px;transform:rotate(45deg) scale(0.8);transform-origin:right center;content:"";}
.pro_gallery .pro_img_next {position:absolute;right:-1px;bottom:0;width:20px;height:calc((50vw - 178px) / 6);max-height:80px;background:#fff;border:1px solid #ddd;text-indent:-9999px;overflow:hidden;}
.pro_gallery .pro_img_next:after {position:absolute;right:0;top:50%;width:9px;height:9px;margin:-4px 8px 0 0;border:solid #aaa;border-width:2px 2px 0 0;transform:rotate(45deg) scale(0.8);transform-origin:right center;content:"";}

.pro_thumb_wrap {padding-left:30px;overflow:hidden;}
.pro_thumb_area {display:block;}
.pro_thumb_area li {display:block;position:relative;float:left;width:calc((50vw - 178px) / 6);max-width:80px;height:calc((50vw - 178px) / 6);max-height:80px;margin-right:6px;background:#f5f5f5;border:1px solid #ddd;}
.pro_thumb_area li a {display:block;position:absolute;left:0;top:0;width:100%;height:100%;}
.pro_thumb_area li img {width:100%;height:100%;object-fit:cover;}
.pro_thumb_area li.selected a:after {position:absolute;left:-1px;top:-1px;width:calc(100% + 2px);height:calc(100% + 2px);border:3px solid #916ecf;box-sizing:border-box;content:"";}
.pro_thumb_area:after {display:block;clear:both;content:"";height:0;}


/** pro_info **/
.pro_info {position:relative;float:right;width:calc(50% - 40px);padding-top:10px;}
.pro_info .s1 {display:-webkit-box;width:100%;font-weight:500;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;font-size:22px;line-height:32px;}
.pro_info .s2 {margin-top:30px;padding-top:30px;border-top:1px solid #d7d7d7;font-size:26px;line-height:34px;font-weight:700;}
.pro_info .badge_line {margin:10px -4px 0 -4px;}
.pro_info .badge_chk {margin-top:30px;padding-top:30px;border-top:1px solid #d7d7d7;}
.pro_info .badge_chk p label {height:35px;padding:0 15px;border-radius:20px;font-size:14px;line-height:35px;}



/* Tablet Ver. */
@media all and (max-width:800px){
	/** pro_gallery **/
	.pro_gallery {float:none;width:100%;}
	.pro_gallery .pro_img_prev,
	.pro_gallery .pro_img_next {height:calc((100vw - 158px) / 6);}
	.pro_thumb_area li {width:calc((100vw - 158px) / 6);height:calc((100vw - 158px) / 6);max-width:initial;max-height:initial;}


	/** pro_info **/
	.pro_info {float:none;width:100%;padding-top:60px;}
	.pro_info .s1 {font-size:18px;line-height:28px;}
	.pro_info .s2 {margin-top:20px;padding-top:20px;font-size:22px;line-height:30px;}
	.pro_info .badge_line {margin:5px -4px 0 -4px;}
	.pro_info .badge_chk {margin-top:20px;padding-top:20px;}
	.pro_info .badge_chk p label {height:30px;padding:0 12px;font-size:13px;line-height:30px;}
}



/** pop_prod_view **/
.pop_prod_view {width:auto;max-width:700px;padding:0;background:none;}
.pop_prod_view_area .img {position:relative;width:100%;overflow:hidden;}
.pop_prod_view_area .img .swiper-slide {position:relative;width:100% !important;}
.pop_prod_view_area .img .swiper-slide img {width:100%;}
.pop_prod_view_area .img .swiper-pagination-bullet-active {background:#5e60cb;}










/*** 로그인 ***/
/** 로그인 **/
/*login_area */
.login_area {position:relative;max-width:460px;margin:0 auto;}
.login_area .input_ty,
.login_area .select_ty {height:60px;}
.login_info {margin:17px 0 -2px 0;color:#6e6e6e;}
.login_info:after {display:block;clear:both;height:0;content:"";overflow:hidden;}
.login_chk {float:left;}
.login_btn {float:right;}
.login_btn li {position:relative;float:left;padding-left:15px;}
.login_btn li:before {position:absolute;left:7px;top:8px;width:1px;height:11px;background:#d7d7d7;content:"";}
.login_btn li:first-child:before {display:none;}
.login_btn li a {color:#6e6e6e;transition:color 0.4s;}
.login_btn li a:hover, .login_btn li a:focus {color:#5e60cb;}
.login_area .btn {margin-top:30px;}
.login_area .btn a {display:block;}
.login_area .form_ty .inr {padding-right:145px;}
.login_area .form_ty .inr .btn_s {position:absolute;right:0;top:0;min-width:135px;height:60px;line-height:58px;}

/* login_txt */
.login_txt {position:relative;min-height:132px;margin-top:60px;padding:36px 230px 0 130px;background:url("../images/contents/ico_login_txt.png") left 30px/96px no-repeat;border-top:1px solid #d7d7d7;box-sizing:border-box;}
.login_txt .txt dt {color:#7047aa;font-size:20px;font-weight:700;line-height:26px;}
.login_txt .txt dd {margin-top:10px;color:#6e6e6e;}
.login_txt .btn {position:absolute;right:0;top:40px;}
.login_txt .btn a {display:block;width:175px;height:74px;padding-top:12px;box-sizing:border-box;font-weight:500;line-height:22px;text-align:center;}
.login_txt .br {display:block;}

/* search_result */
.search_result {padding-top:30px;text-align:center;}


/* Tablet Ver. */
@media all and (max-width:1300px){
	/*login_area */
	.login_area .input_ty,
	.login_area .select_ty {height:55px;}
	.login_btn li:before {top:6px;}
	.login_area .btn {margin-top:25px;}
	.login_area .form_ty .inr .btn_s {height:55px;line-height:53px;}

	/* login_txt */
	.login_txt {margin-top:50px;}
	.login_txt .txt dt {font-size:18px;line-height:24px;}
	.login_txt .btn {top:34px;}
	.login_txt .btn a {width:155px;height:60px;padding-top:10px;line-height:20px;}
}



/* Mobile Ver. */
@media all and (max-width:800px){
	/*login_area */
	.login_area .input_ty,
	.login_area .select_ty {height:50px;}
	.login_info {margin-top:12px;}
	.login_btn li:before {top:5px;}
	.login_area .btn {margin-top:20px;}
	.login_area .form_ty .inr {padding-right:115px;}
	.login_area .form_ty .inr .btn_s {min-width:105px;height:50px;line-height:48px;}

	/* login_txt */
	.login_txt {margin-top:40px;padding:21px 0 0 65px;background:url("../images/contents/ico_login_txt.png") left 15px/48px no-repeat;}
	.login_txt .txt dt {font-size:16px;line-height:22px;}
	.login_txt .txt dd {margin-top:7px;}
	.login_txt .btn {position:static;margin-top:16px;}
	.login_txt .btn a {width:145px;height:40px;padding-top:0;line-height:38px;}
	.login_txt .br {display:inline;}
}



/** 회원가입 **/
.join_area {position:relative;max-width:540px;margin:0 auto;}

/* form_ty */
.form_ty {position:relative;}
.form_ty .li {position:relative;margin-top:10px;}
.form_ty .li:first-child {margin-top:0;}
.form_ty .inr {position:relative;padding-right:105px;}
.form_ty .inr .btn_s {position:absolute;right:0;top:0;min-width:95px;padding:0;}
.form_ty .inr .time {position:absolute;right:125px;top:0;font-weight:400;line-height:45px;text-align:right;}
.form_ty .inr.s1 {padding:0 105px 0 135px;}
.form_ty .inr.s1 select {position:absolute;left:0;top:0;width:125px;}
.form_ty .inr.s2 {position:relative;padding-right:155px;}
.form_ty .inr.s2 select {position:absolute;right:0;top:0;width:145px;}
.form_ty .inr.s3 {position:relative;padding-right:235px;}
.form_ty .inr.s3 select {position:absolute;right:0;top:0;width:225px;}
.form_ty .chk li {float:left;margin-left:30px;color:#6e6e6e;}
.form_ty .chk li:first-child {margin-left:0;}
.form_ty .chk:after {display:block;clear:both;height:0;content:"";overflow:hidden;}

/* txt_msg */
.txt_msg {display:none;position:relative;margin:4px 0 10px 0;padding-left:10px;color:#5e60cb;font-size:14px;font-weight:400;line-height:20px;text-align:left;}
.txt_msg:before {position:absolute;left:0;top:3px;content:"*";}
.txt_msg.on {display:block;}

/* chk_err */
.chk_err .input_ty {background:#f8f8fd;border:1px solid #5e60cb;color:#5e60cb;}
.chk_err .txt_msg {display:block;position:relative;}



/* Tablet Ver. */
@media all and (max-width:1300px){
	/* form_ty */
	.form_ty .inr .btn_s {height:45px;line-height:43px;}
}



@media all and (max-width:800px){
	/* form_ty */
	.form_ty .inr {padding-right:75px;}
	.form_ty .inr .btn_s {min-width:65px;height:40px;line-height:38px;}
	.form_ty .inr .time {right:90px;top:0;line-height:40px;}
	.form_ty .inr.s1 {padding:0 75px 0 110px;}
	.form_ty .inr.s1 select {width:100px;}
	.form_ty .inr.s2 {position:relative;padding-right:135px;}
	.form_ty .inr.s2 select {position:absolute;right:0;top:0;width:125px;}
	.form_ty .inr.s3 {position:relative;padding-right:135px;}
	.form_ty .inr.s3 select {position:absolute;right:0;top:0;width:125px;}
	.form_ty .chk li {margin-left:15px;}

	/* txt_msg */
	.txt_msg {font-size:13px;}
}










/*** Popup ***/
.modal {display:none;position:relative;width:auto;}
.modal.on {display:block;}
.modal_header {position:relative;padding:22px 15px;background:#5e60cb;}
.modal_header h2 {color:#fff;font-size:22px;font-weight:500;line-height:26px;text-align:center;}
.modal_body {position:relative;width:500px;padding:85px 45px 45px 45px;background:#fff;box-sizing:border-box;}
.modal_body .pop_txt {display:table;width:100%;text-align:center;}
.modal_body .pop_txt .inner {display:table-cell;height:90px;font-size:17px;vertical-align:middle;}

/* table_ty */
.modal_body .table_ty tbody th {width:100px;padding:10px 20px;}
.modal_body .table_ty tbody td {padding:10px 20px;}

/* btn_area */
.modal_body .btn_area {margin:35px -5px 0 -5px;}
.modal_body .btn_area a {width:calc(50% - 10px);min-width:auto;margin:0 5px;}
.modal_body .btn_area a:only-child {width:calc(100% - 10px);}

/* btn_pop_close */
.btn_pop_close {position:absolute;right:6px;top:0;width:70px;height:70px;text-indent:-9999px;overflow:hidden;transition:none;z-index:1;}
.btn_pop_close em {display:block;position:absolute;left:50%;top:50%;width:28px;height:28px;margin:-14px 0 0 -14px;transform:rotate(45deg);}
.btn_pop_close em:before {position:absolute;left:0;top:50%;width:30px;height:2px;margin-top:-1px;background:#000;content:"";animation:btnMgnb both 0.4s 0.4s;}
.btn_pop_close em:after {position:absolute;left:50%;top:0;width:2px;height:30px;margin-left:-1px;background:#000;content:"";animation:btnMgnbH both 0.4s 0.6s;}

.popup_visible body {padding-right:18px;overflow-y:hidden;}
.popup_visible header {width:calc(100% - 18px);}
.popup_visible .utill_nav {right:calc(50% - 596px);}

.popup_visible body.ht_mo {padding-right:0;}
.popup_visible body.ht_mo header {width:100%;}
.popup_visible body.ht_mo .utill_nav {right:calc(50% - 605px);}



/* Tablet Ver. */
@media all and (max-width:1300px){
	.modal_body .pop_txt .inner {height:75px;font-size:15px;}

	/* table_ty */
	.modal_body .table_ty tbody th {padding:10px 15px;}
	.modal_body .table_ty tbody td {padding:10px 15px;}

	/* btn_area */
	.modal_body .btn_area {margin-top:30px;}

	.popup_visible .utill_nav {right:40px;}
	.popup_visible body.ht_mo .utill_nav {right:40px;}
}



/* Mobile Ver. */
@media all and (max-width:800px){
	.modal_header {padding:14px 10px;}
	.modal_header h2 {font-size:16px;line-height:20px;}
	.modal_body {width:340px;padding:60px 30px 30px 30px;}
	.modal_body .pop_txt .inner {height:60px;font-size:14px;}

	/* table_ty */
	.modal_body .table_ty tbody th {width:70px;padding:5px 15px;}
	.modal_body .table_ty tbody td {padding:5px 15px;}

	/* btn_area */
	.modal_body .btn_area {margin-top:25px;}

	/* btn_pop_close */
	.btn_pop_close {right:2px;width:48px;height:48px;}
	.btn_pop_close em {width:20px;height:20px;margin:-10px 0 0 -10px;}

	.popup_visible .utill_nav {right:7px;}
	.popup_visible body.ht_mo .utill_nav {right:7px;}
}



/*** pop_quick ***/
.pop_quick .modal_body {width:auto;padding:0;}
.quick_area {display:flex;position:relative;flex-wrap:wrap;width:800px;}
.quick_area .img {position:relative;width:400px;height:400px;background:#000;overflow:hidden;}
.quick_area .img .swiper-slide {position:relative;width:400px;height:400px;}
.quick_area .img .swiper-slide img {width:400px;height:400px;object-fit:cover;}
.quick_area .img .swiper-pagination-bullet-active {background:#5e60cb;}

.quick_area .txt {position:relative;width:400px;height:400px;padding:70px 30px;background:#fff;box-sizing:border-box;}
.quick_area .txt .s1 {display:-webkit-box;width:100%;font-weight:500;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.quick_area .txt .s2 {margin-top:20px;font-size:22px;line-height:28px;font-weight:700;}
.quick_area .txt .badge_line {margin:5px -4px 0 -4px;}
.quick_area .txt .badge_chk {margin:20px -4px 0 -4px;}
.quick_area .txt .btn_area {position:absolute;left:30px;bottom:30px;width:calc(100% - 60px);}



/* Mobile Ver. */
@media all and (max-width:850px){
	.pop_quick .btn_pop_close {right:-6px;top:-6px;}
	.quick_area {width:320px;}
	.quick_area .img {width:320px;height:320px;}
	.quick_area .img .swiper-slide {width:320px;height:320px;}
	.quick_area .img .swiper-slide img {width:320px;height:320px;}

	.quick_area .txt {width:320px;height:320px;padding:30px 20px;}
	.quick_area .txt .s2 {margin-top:10px;font-size:18px;line-height:24px;}
	.quick_area .txt .badge_chk {margin:10px -4px 0 -4px;}
	.quick_area .txt .btn_area {left:20px;bottom:30px;width:calc(100% - 30px);}
}



/*** pop_cart ***/
.pop_cart {width:auto;padding-right:30px;}
.pop_cart_cont {position:relative;width:1200px;max-height:80vh;padding-right:15px;box-sizing:border-box;overflow:hidden;overflow-y:auto;}



/* Tablet Ver. */
@media all and (max-width:1400px){
	.pop_cart_cont {width:800px;}
}

@media all and (max-width:1000px){
	.pop_cart_cont {width:600px;}
	.pop_cart_cont .reserve_list .li .link {width:100%;}
	.pop_cart_cont .reserve_list .li .img,
	.pop_cart_cont .reserve_list .li .img p {width:150px;height:150px;}
	.pop_cart_cont .reserve_list .li .txt {width:calc(100% - 180px); min-height:150px;}
	.pop_cart_cont .reserve_list .li .btn {display:block;position:static;width:100%;height:auto;padding:10px 5px;border:dashed #d7d7d7;border-width:1px 0 0 0;}
	.pop_cart_cont .reserve_list .li .btn .inner {display:block;padding:0 15px;}
	.pop_cart_cont .reserve_list .li .btn .inner:after {display:block;clear:both;height:0;content:"";overflow:hidden;}
}

@media all and (max-width:800px){
	.pop_cart {padding-right:15px;}
	.pop_cart_cont {width:440px;}
}

@media all and (max-width:600px){
	.pop_cart_cont {width:320px;}
	.pop_cart_cont .reserve_list .li .img,
	.pop_cart_cont .reserve_list .li .img p {width:120px;height:120px;}
	.pop_cart_cont .reserve_list .li .txt {width:calc(100% - 140px); min-height:120px;padding:30px 10px 0 0;box-sizing: border-box;}
}










/**** Main ****/
/** wel_hero_banner **/
.wel_hero_banner {background:#f7f7f7;}
.wel_hero_banner .swiper-slide {position:relative;width:100%;height:100%;background:#f7f7f7;}
.wel_hero_banner .mb_bg {position:absolute;left:0;top:0;width:100%;height:100%;overflow:hidden;}
.wel_hero_banner .mb_bg:before {position:absolute;left:0;top:0;width:100%;height:100%;background:#000;content:"";opacity:0.3;z-index:1;}
.wel_hero_banner .mb_bg video {position:absolute;left:50%;top:50%;min-width:100%;min-height:100%;width:auto;height:auto;transform:translate(-50%,-50%);display:block;}
.wel_hero_banner .mb_bg img {width:100%;height:100%;object-fit:cover;}

.wel_hero_banner .txt {display:table;position:absolute;left:0;top:0;width:100%;height:100%;text-align:center;z-index:3;}
.wel_hero_banner .txt dl {display:table-cell;width:100%;height:100vh;padding:50px;box-sizing:border-box;vertical-align:middle;}
.wel_hero_banner .txt dt {position:relative;}
.wel_hero_banner .txt dd {position:relative;}
.wel_hero_banner .txt dd.s1 {margin-top:50px;color:#fff;font-size:24px;font-weight:500;line-height:40px;}
.wel_hero_banner .txt dd.s2 {margin-top:60px;text-align:center;}
.wel_hero_banner .txt dd.s2 a {display:inline-block;position:relative;width:165px;height:52px;border:1px solid #fff;box-sizing:border-box;color:#fff;font-size:14px;text-transform:uppercase;line-height:50px;transition:all 0.4s;}
.wel_hero_banner .txt dd.s2 a:before {position:absolute;left:0;top:0;width:0;height:100%;background:#000;content:"";transition:all 0.4s;}
.wel_hero_banner .txt dd.s2 a img {position:relative;}
.wel_hero_banner .txt dd.s2 a:hover {border-color:#000;}
.wel_hero_banner .txt dd.s2 a:hover:before {width:100%;}

.wel_hero_banner .tit {position:relative;color:#fff;font-size:90px;font-weight:400;line-height:80px;z-index:2;font-family:'Bentham';letter-spacing:-1px;}
.wel_hero_banner .tit span {position:relative;display:inline-block;min-width:13px;opacity:0}
.wel_hero_banner .tit02 {position:absolute;left:0;top:0;width:100%;color:#fff;font-size:90px;font-weight:400;line-height:120px;font-family:'Bentham';letter-spacing:-1px;}
.wel_hero_banner .tit02 span {position:relative;display:inline-block;min-width:13px;opacity:0;}

.wel_hero_banner .swiper-slide-active .tit span:nth-child(odd) {animation:mcv both 0.3s;}
.wel_hero_banner .swiper-slide-active .tit span:nth-child(even) {animation:mcv2 both 0.3s;}
.wel_hero_banner .swiper-slide-active .tit02 span:nth-child(odd) {animation:mcvs both 0.7s 0.2s;}
.wel_hero_banner .swiper-slide-active .tit02 span:nth-child(even) {animation:mcvs2 both 0.7s 0.2s;}
.wel_hero_banner .swiper-slide-active .txt dd.s1 {animation:fade both 0.7s 0.8s;}
.wel_hero_banner .swiper-slide-active .txt dd.s2 {animation:fade both 0.7s 1.0s;}

.wel_hero_banner .tit span:nth-child(1) {animation-delay:0.25s;}
.wel_hero_banner .tit span:nth-child(2) {animation-delay:0.3s;}
.wel_hero_banner .tit span:nth-child(3) {animation-delay:0.35s;}
.wel_hero_banner .tit span:nth-child(4) {animation-delay:0.4s;}
.wel_hero_banner .tit span:nth-child(5) {animation-delay:0.45s;}
.wel_hero_banner .tit span:nth-child(6) {animation-delay:0.49s;}
.wel_hero_banner .tit span:nth-child(7) {animation-delay:0.52s;}
.wel_hero_banner .tit span:nth-child(8) {animation-delay:0.55s;}
.wel_hero_banner .tit span:nth-child(9) {animation-delay:0.58s;}
.wel_hero_banner .tit span:nth-child(10) {animation-delay:0.61s;}
.wel_hero_banner .tit span:nth-child(11) {animation-delay:0.64s;}
.wel_hero_banner .tit span:nth-child(12) {animation-delay:0.67s;}
.wel_hero_banner .tit span:nth-child(13) {animation-delay:0.70s;}
.wel_hero_banner .tit span:nth-child(14) {animation-delay:0.73s;}
.wel_hero_banner .tit span:nth-child(15) {animation-delay:0.76s;}
.wel_hero_banner .tit span:nth-child(16) {animation-delay:0.79s;}
.wel_hero_banner .tit span:nth-child(17) {animation-delay:0.82s;}
.wel_hero_banner .tit span:nth-child(18) {animation-delay:0.85s;}
.wel_hero_banner .tit span:nth-child(19) {animation-delay:0.88s;}
.wel_hero_banner .tit span:nth-child(20) {animation-delay:0.92s;}
.wel_hero_banner .tit span:nth-child(21) {animation-delay:0.95s;}
.wel_hero_banner .tit span:nth-child(22) {animation-delay:0.98s;}
.wel_hero_banner .tit span:nth-child(23) {animation-delay:1.01s;}
.wel_hero_banner .tit span:nth-child(24) {animation-delay:1.04s;}
.wel_hero_banner .tit span:nth-child(25) {animation-delay:1.07s;}
.wel_hero_banner .tit span:nth-child(26) {animation-delay:1.10s;}
.wel_hero_banner .tit span:nth-child(27) {animation-delay:1.13s;}
.wel_hero_banner .tit span:nth-child(28) {animation-delay:1.16s;}
.wel_hero_banner .tit span:nth-child(29) {animation-delay:1.19s;}
.wel_hero_banner .tit span:nth-child(30) {animation-delay:1.22s;}
.wel_hero_banner .tit span:nth-child(31) {animation-delay:1.25s;}
.wel_hero_banner .tit span:nth-child(32) {animation-delay:1.28s;}
.wel_hero_banner .tit span:nth-child(33) {animation-delay:1.31s;}
.wel_hero_banner .tit span:nth-child(34) {animation-delay:1.34s;}
.wel_hero_banner .tit span:nth-child(35) {animation-delay:1.37s;}
.wel_hero_banner .tit span:nth-child(36) {animation-delay:1.40s;}
.wel_hero_banner .tit span:nth-child(37) {animation-delay:1.43s;}
.wel_hero_banner .tit span:nth-child(38) {animation-delay:1.46s;}
.wel_hero_banner .tit span:nth-child(39) {animation-delay:1.49s;}
.wel_hero_banner .tit span:nth-child(40) {animation-delay:1.52s;}
.wel_hero_banner .tit span:nth-child(41) {animation-delay:1.55s;}
.wel_hero_banner .tit span:nth-child(42) {animation-delay:1.58s;}
.wel_hero_banner .tit span:nth-child(43) {animation-delay:1.62s;}

.wel_hero_banner .swiper-pagination {position:absolute;left:0;bottom:40px;width:100%;text-align:center;z-index:3;}
.wel_hero_banner .swiper-pagination-bullet {position:relative;display:inline-block;width:6px;height:6px;margin:0 3px;background:#fff;border-radius:6px;vertical-align:top;text-indent:-9999px;opacity:0.5;cursor:pointer;overflow:hidden;transition:all 0.4s;}
.wel_hero_banner .swiper-pagination-bullet-active {width:30px;opacity:1;}
.wel_hero_banner .swiper-button-prev {position:absolute;left:45px;top:50%;width:68px;height:68px;margin-top:-34px;background:url(../images/layout/btn_banner_next.png) center/100% no-repeat;text-indent:-9999px;overflow:hidden;opacity:0.7;transition:all 0.4s;z-index:10;}
.wel_hero_banner .swiper-button-next {position:absolute;right:45px;top:50%;width:68px;height:68px;margin-top:-34px;background:url(../images/layout/btn_banner_next.png) center/100% no-repeat;text-indent:-9999px;overflow:hidden;opacity:0.7;transition:all 0.4s;z-index:10;}
.wel_hero_banner .swiper-button-prev:hover,
.wel_hero_banner .swiper-button-next:hover {opacity:1;}



/* Tablet Ver. */
@media all and (max-width:1300px){
	.wel_hero_banner .tit,
	.wel_hero_banner .tit02 {font-size:60px;line-height:90px;}
	.wel_hero_banner .txt dd.s1 {margin-top:40px;font-size:20px;line-height:36px;}

	.wel_hero_banner .swiper-pagination {bottom:25px;}
	.wel_hero_banner .swiper-button-prev,
	.wel_hero_banner .swiper-button-next {width:50px;height:50px;margin-top:-25px;}
}



/* Mobile Ver. */
@media all and (max-width:800px){
	.wel_hero_banner .txt dl {padding:20px;}
	.wel_hero_banner .tit,
	.wel_hero_banner .tit02 {font-size:40px;line-height:50px;}
	.wel_hero_banner .txt dd.s1 {margin-top:20px;font-size:16px;line-height:28px;}

	.wel_hero_banner .swiper-pagination {bottom:10px;}
	.wel_hero_banner .swiper-button-prev,
	.wel_hero_banner .swiper-button-next {display:none;}
}





































